doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/DailyExercises.css")
        script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1382967897804537"
     crossorigin="anonymous")
        link(rel="shortcut icon", href="media/logo/logo-icon.jpg", type="image/x-icon")
        title MuscleMaven: Daily Exercises
    body
        .background-effect-1
        .background-effect-2
        .navigation
            .logo 
                img(src="media/logo/logo-icon.jpg", alt="Logo")
            .menu 
                i.fa-solid.fa-bars#open-btn
        .options#options
            .close-menu
                i.fa-solid.fa-xmark#close-btn
                p MuscleMaven 
            .menu-options 
                a(href="/") 
                    i.fa-solid.fa-house 
                    | &nbsp;Home
                .line
                a(href="/daily-exercises") 
                    i.fa-solid.fa-repeat 
                    | &nbsp;Daily Exercises
                .line
                a(href="/training") 
                    i.fa-solid.fa-dumbbell 
                    | &nbsp;Training
                .line
                a(href="/chat") 
                    i.fa-solid.fa-comments 
                    | &nbsp;ChatRoom
                .line
                a(href="/articles") 
                    i.fa-solid.fa-newspaper 
                    | &nbsp;Articles
                .line
                a(href="/privacy-and-policies") 
                    i.fa-solid.fa-shield-halved
                    | &nbsp;Privacy and Policies
                .line
                a(href="/feedback") 
                    i.fa-solid.fa-comment
                    | &nbsp;Feedback
                .line
                a(href="/developer-contact") 
                    i.fa-solid.fa-address-book
                    | &nbsp;Developer Contact
        .section-1#section-1 
            .heading Daily Exercises 
            .exercises-container
                .exercise
                    .title Exercise 1 (Height)
                    .benefits To increase height
                    .steps 
                        | 1. Stand straight with your feet together.
                        br
                        | 2. Stretch your hands above your head and interlock your fingers.
                        br
                        | 3. Rise on your toes as high as you can and hold for 10 seconds.
                        br
                        | 4. Slowly come back to the starting position.
                        br
                        | 5. Repeat 10 times.
                .ads 
                    script(type="text/javascript").
                        atOptions = {
                            'key': 'ea52525b5b4a4bcc8331ee365480a27a',
                            'format': 'iframe',
                            'height': 90,
                            'width': 728,
                            'params': {}
                        };
                    script(type="text/javascript" src="//www.topcreativeformat.com/ea52525b5b4a4bcc8331ee365480a27a/invoke.js")
                .exercise
                    .title Exercise 2 (Health)
                    .benefits To maintain general health
                    .steps 
                        | 1. Start with a light warm-up like jogging in place for 5 minutes.
                        br
                        | 2. Follow with 20 minutes of brisk walking or jogging.
                        br
                        | 3. Include 10 minutes of stretching exercises to cool down.
                .exercise
                    .title Exercise 3 (Flexibility)
                    .benefits To improve flexibility
                    .steps 
                        | 1. Sit on the floor with your legs extended in front.
                        br
                        | 2. Reach forward to touch your toes, keeping your knees straight.
                        br
                        | 3. Hold the position for 30 seconds.
                        br
                        | 4. Return to the starting position.
                        br
                        | 5. Repeat 5 times.
                .exercise
                    .title Exercise 4 (Strength)
                    .benefits To build strength
                    .steps 
                        | 1. Stand with your feet shoulder-width apart.
                        br
                        | 2. Lower into a squat position, keeping your back straight and knees behind your toes.
                        br
                        | 3. Hold for 5 seconds and then return to standing.
                        br
                        | 4. Repeat 15 times.
                .ads 
                    script(type="text/javascript").
                        atOptions = {
                            'key': 'ea52525b5b4a4bcc8331ee365480a27a',
                            'format': 'iframe',
                            'height': 90,
                            'width': 728,
                            'params': {}
                        };
                    script(type="text/javascript" src="//www.topcreativeformat.com/ea52525b5b4a4bcc8331ee365480a27a/invoke.js")
                .exercise
                    .title Exercise 5 (Balance)
                    .benefits To improve balance
                    .steps 
                        | 1. Stand on one foot with the other foot slightly off the ground.
                        br
                        | 2. Hold the position for 30 seconds.
                        br
                        | 3. Switch to the other foot.
                        br
                        | 4. Repeat 3 times on each foot.
                .exercise
                    .title Exercise 6 (Relaxation)
                    .benefits To relax the mind and body
                    .steps 
                        | 1. Sit or lie down in a comfortable position.
                        br
                        | 2. Close your eyes and take deep breaths.
                        br
                        | 3. Focus on your breathing for 5 minutes.
                        br
                        | 4. Gradually become aware of your surroundings and open your eyes.
                .exercise
                    .title Exercise 7 (Cardio)
                    .benefits To boost cardiovascular health
                    .steps 
                        | 1. Jump rope for 5 minutes.
                        br
                        | 2. Take a 1-minute break.
                        br
                        | 3. Repeat 3 times.
                .exercise
                    .title Exercise 8 (Core Strength)
                    .benefits To strengthen core muscles
                    .steps 
                        | 1. Lie on your back with your knees bent and feet flat on the floor.
                        br
                        | 2. Place your hands behind your head and lift your upper body off the ground.
                        br
                        | 3. Hold for 2 seconds and then lower back down.
                        br
                        | 4. Repeat 20 times.
                .exercise
                    .title Exercise 9 (Posture)
                    .benefits To improve posture
                    .steps 
                        | 1. Stand against a wall with your back touching the wall.
                        br
                        | 2. Ensure your head, shoulders, and hips are aligned.
                        br
                        | 3. Hold the position for 1 minute.
                        br
                        | 4. Relax and repeat 5 times.
                .ads 
                    script(type="text/javascript").
                        atOptions = {
                            'key': 'ea52525b5b4a4bcc8331ee365480a27a',
                            'format': 'iframe',
                            'height': 90,
                            'width': 728,
                            'params': {}
                        };
                    script(type="text/javascript" src="//www.topcreativeformat.com/ea52525b5b4a4bcc8331ee365480a27a/invoke.js")
                .exercise
                    .title Exercise 10 (Mobility)
                    .benefits To enhance mobility
                    .steps 
                        | 1. Stand with your feet shoulder-width apart.
                        br
                        | 2. Rotate your arms in small circles forward for 30 seconds.
                        br
                        | 3. Then rotate them backward for 30 seconds.
                        br
                        | 4. Repeat 3 times.
        <script type="text/javascript">
            var infolinks_pid = 3421437;
            var infolinks_wsid = 0;
        </script>
        <script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
        script(src="https://kit.fontawesome.com/45c7c9c055.js" crossorigin="anonymous")
        script(src="js/DailyExercises.js")
