doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google-site-verification" content="HfVod968QqPSAvimCGeFRTL-1_0ATHUvhnoOL8qrYC8")
        link(rel="stylesheet", href="css/Load.css")
        script(async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1382967897804537"
     crossorigin="anonymous")
        meta(name="description", content="Unleash your inner champion with MuscleMaven - where dedication meets transformation. MuscleMaven is your ultimate gym companion, offering expert guides, customized workout routines, and nutrition tips to sculpt your body, boost your strength, and achieve your fitness goals.")
        meta(name="keywords", content="MuscleMaven")
        meta(name="robots", content="index, follow")
        link(rel="shortcut icon", href="media/logo/logo-icon.jpg", type="image/x-icon")
        title MuscleMaven: Forge Your Strength, Shape Your Legend
    body 
        .background-effect-1
        .background-effect-2
        .navigation
            .logo 
                img(src="media/logo/logo-icon.jpg", alt="Logo")
            .menu 
                i.fa-solid.fa-bars#open-btn
        .options#options
            .close-menu
                i.fa-solid.fa-xmark#close-btn
                p MuscleMaven 
            .menu-options 
                a(href="/") 
                    i.fa-solid.fa-house 
                    | &nbsp;Home
                .line
                a(href="/daily-exercises") 
                    i.fa-solid.fa-repeat 
                    | &nbsp;Daily Exercises
                .line
                a(href="/training") 
                    i.fa-solid.fa-dumbbell 
                    | &nbsp;Training
                .line
                a(href="/chat") 
                    i.fa-solid.fa-comments 
                    | &nbsp;ChatRoom
                .line
                a(href="/articles") 
                    i.fa-solid.fa-newspaper 
                    | &nbsp;Articles
                .line
                a(href="/privacy-and-policies") 
                    i.fa-solid.fa-shield-halved
                    | &nbsp;Privacy and Policies
                .line
                a(href="/feedback") 
                    i.fa-solid.fa-comment
                    | &nbsp;Feedback
                .line
                a(href="/developer-contact") 
                    i.fa-solid.fa-address-book
                    | &nbsp;Developer Contact
        .section#section-1
            .text-sec1 
                .Heading MuscleMaven
                .training Train Yourself
                .description-sec1 Unlock your strength with MuscleMaven: Dive into invigorating workouts, receive personalized fitness strategies, and benefit from unwavering support. Our expert-driven approach empowers you to reach and exceed your fitness aspirations and transform your physique.
            .image-sec1 
                .bg-1 
                .bg-2 
                img(src="media/images/a-powerful-and-muscular-bodybuilder.jpeg", alt="")
        .section#section-2 
            .welcome 
                h2 Welcome to <span class="welcome-text">MuscleMaven</span>
                p Welcome to MuscleMaven, where your journey to unparalleled strength and fitness begins! We're thrilled to have you here. Dive into our expert-guided workouts and tailored fitness plans designed to unlock your full potential. Whether you're aiming to build muscle, increase endurance, or achieve your personal best, we are dedicated to providing the tools, support, and inspiration you need to reach and exceed your goals. Let's embark on this transformative journey together and make your fitness aspirations a powerful reality!
        .section#section-3 
            .heading-sec-3 <span class="blanked-text">MuscleMaven</span>&nbsp;Programs&nbsp;<span class="blanked-text">to build you!</span>
            .features 
                .card 
                    h2 Chat Room
                    p MuscleMaven's chat room offers a lively space for users to connect, share experiences, and exchange tips while taking a break from workouts. Engage in real-time conversations, ask questions, and build a supportive fitness community. Whether you need motivation or just a quick chat, our chat room keeps you connected and energized throughout your fitness journey.
                .card 
                    h2 Daily Exercise Routines
                    p Stay on track with MuscleMaven's daily exercise routines, meticulously designed to keep you motivated and challenged. Each day brings a new, invigorating workout to enhance your strength, flexibility, and endurance. Tailored for all fitness levels, our routines ensure variety and progress, making it easy to incorporate effective exercises into your daily life.
                .card 
                    h2 Targeted Exercise Columns
                    p Customize your workouts with MuscleMaven’s targeted exercise columns, allowing you to focus on specific muscle groups or fitness goals. Whether you aim to strengthen your core, build upper body muscle, or improve lower body endurance, our comprehensive guides and detailed routines help you address and enhance any selected part of your body with precision.
                .card 
                    h2 Article Updates
                    p Stay informed and inspired with MuscleMaven’s article updates, offering the latest fitness trends, expert advice, and motivational stories. Our articles cover a wide range of topics, from nutrition and workout tips to wellness and recovery. Regularly updated content ensures you’re always equipped with fresh insights to elevate your fitness and health knowledge.
                .card 
                    h2 Feedback Option
                    p Share your thoughts and experiences through MuscleMaven’s feedback option. Whether you have suggestions, concerns, or praise, your input is invaluable in shaping our platform. This feature ensures your voice is heard, allowing us to continuously improve and provide you with the best possible fitness experience tailored to your needs and preferences.
                .card 
                    h2 Progress Tracking
                    p Monitor your fitness journey with MuscleMaven’s progress tracking tools. Easily log workouts, track your improvements, and visualize your achievements over time. Our intuitive interface helps you set goals, measure your progress, and stay motivated. Detailed charts and summaries provide a clear view of your fitness milestones and areas for growth.
                .card 
                    h2 Custom Workout Plans
                    p Get personalized workout plans tailored to your fitness goals and preferences with MuscleMaven. Our custom plans consider your current fitness level, objectives, and schedule, providing you with a structured path to success. Each plan includes a mix of exercises designed to maximize results, ensuring you stay engaged and on track to achieving your goals.
                .card 
                    h2 Motivational Tips
                    p Boost your motivation with MuscleMaven’s regular tips and inspirational messages. Our curated advice helps you stay focused, overcome obstacles, and maintain a positive mindset throughout your fitness journey. Whether you’re facing challenges or celebrating victories, our motivational tips offer the encouragement you need to keep pushing towards your fitness aspirations.
        .getting-start 
            h1 Let's get start!
            .start#start-1
                .img-sec-2 
                    img(src="media/images/bg-1.jpeg", alt="")
                a(href="/daily-exercises") Daily Exercises
            .start#start-2
                .img-sec-2 
                    img(src="media/images/bg-2.jpeg", alt="")
                a(href="/training") Training
        .footer 
            .sec-footer 
                a(href="/privacy-and-policies") Privacy Policies 
                a(href="/articles") Articles 
            .sec-footer
                a(href="/developer-contact") Developer Contact 
    script(src="https://kit.fontawesome.com/45c7c9c055.js" crossorigin="anonymous")
    script(src="js/Load.js") 
