doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/Training.css")
        link(rel="shortcut icon", href="media/logo/logo-icon.jpg", type="image/x-icon")
        title MuscleMaven: Training
    body
        .background-effect-1
        .background-effect-2
        .navigation
            .logo 
                img(src="media/logo/logo-icon.jpg", alt="Logo")
            .menu 
                i.fa-solid.fa-bars#open-btn
        .options#options
            .close-menu
                i.fa-solid.fa-xmark#close-btn
                p MuscleMaven 
            .menu-options 
                a(href="/") 
                    i.fa-solid.fa-house 
                    | &nbsp;Home
                .line
                a(href="/daily-exercises") 
                    i.fa-solid.fa-repeat 
                    | &nbsp;Daily Exercises
                .line
                a(href="/training") 
                    i.fa-solid.fa-dumbbell 
                    | &nbsp;Training
                .line
                a(href="/chat") 
                    i.fa-solid.fa-comments 
                    | &nbsp;ChatRoom
                .line
                a(href="/articles") 
                    i.fa-solid.fa-newspaper 
                    | &nbsp;Articles
                .line
                a(href="/privacy-and-policies") 
                    i.fa-solid.fa-shield-halved
                    | &nbsp;Privacy and Policies
                .line
                a(href="/feedback") 
                    i.fa-solid.fa-comment
                    | &nbsp;Feedback
                .line
                a(href="/developer-contact") 
                    i.fa-solid.fa-address-book
                    | &nbsp;Developer Contact
        .training-container 
            .heading Training Exercises
            .exercises 
                .exercise
                    .part Chest
                    .benefits To build chest muscles and strength
                    .steps 
                        strong Instructions:
                        br
                        | 1. Lie flat on a bench with a barbell in hand.
                        br
                        | 2. Lower the bar to your chest.
                        br
                        | 3. Push it back up to starting position.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Back
                    .benefits To strengthen upper back
                    .steps 
                        strong Instructions:
                        br
                        | 1. Stand with feet shoulder-width apart, holding a barbell.
                        br
                        | 2. Bend over at the waist, keeping back straight.
                        br
                        | 3. Row the barbell up to your chest.
                        br
                        | 4. Lower and repeat 12-15 times.
                .ads 
                    script(type="text/javascript").
                        atOptions = {
                            'key': 'ea52525b5b4a4bcc8331ee365480a27a',
                            'format': 'iframe',
                            'height': 90,
                            'width': 728,
                            'params': {}
                        };
                    script(type="text/javascript" src="//www.topcreativeformat.com/ea52525b5b4a4bcc8331ee365480a27a/invoke.js")
                .exercise
                    .part Legs
                    .benefits To build leg muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Place a barbell across your shoulders.
                        br
                        | 2. Squat down, keeping your back straight.
                        br
                        | 3. Return to standing position.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Shoulders
                    .benefits To enhance shoulder strength
                    .steps 
                        strong Instructions:
                        br
                        | 1. Hold dumbbells at shoulder height.
                        br
                        | 2. Press them upwards until arms are fully extended.
                        br
                        | 3. Lower back to shoulders.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Biceps
                    .benefits To build bicep muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Stand with dumbbells in each hand.
                        br
                        | 2. Curl the weights up towards your shoulders.
                        br
                        | 3. Lower them back down.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Triceps
                    .benefits To strengthen triceps
                    .steps 
                        strong Instructions:
                        br
                        | 1. Hold a dumbbell above your head with both hands.
                        br
                        | 2. Lower it behind your head.
                        br
                        | 3. Extend your arms back up.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Abs
                    .benefits To build abdominal muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Lie on your back with knees bent.
                        br
                        | 2. Curl your torso up towards your knees.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 15-20 times.
                .exercise
                    .part Calves
                    .benefits To strengthen calf muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Stand with feet shoulder-width apart.
                        br
                        | 2. Raise your heels off the ground.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 15-20 times.
                .ads 
                    script(type="text/javascript").
                        atOptions = {
                            'key': 'ea52525b5b4a4bcc8331ee365480a27a',
                            'format': 'iframe',
                            'height': 90,
                            'width': 728,
                            'params': {}
                        };
                    script(type="text/javascript" src="//www.topcreativeformat.com/ea52525b5b4a4bcc8331ee365480a27a/invoke.js")
                .exercise
                    .part Glutes
                    .benefits To build glute muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Stand with feet shoulder-width apart.
                        br
                        | 2. Lower into a squat, keeping weight in heels.
                        br
                        | 3. Squeeze glutes as you return to standing.
                        br
                        | 4. Repeat 15-20 times.
                .exercise
                    .part Lower Back
                    .benefits To strengthen lower back
                    .steps 
                        strong Instructions:
                        br
                        | 1. Lie face down with arms extended.
                        br
                        | 2. Lift chest and legs off the ground.
                        br
                        | 3. Hold for a few seconds and lower back.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Forearms
                    .benefits To build forearm muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Sit with a barbell in hand, forearms resting on thighs.
                        br
                        | 2. Curl the barbell up with your wrists.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 15-20 times.
                .exercise
                    .part Hamstrings
                    .benefits To strengthen hamstrings
                    .steps 
                        strong Instructions:
                        br
                        | 1. Stand with feet shoulder-width apart.
                        br
                        | 2. Bend forward at the hips, keeping legs straight.
                        br
                        | 3. Return to standing.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Quadriceps
                    .benefits To build quad muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Sit in a leg extension machine.
                        br
                        | 2. Extend your legs outward.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Neck
                    .benefits To strengthen neck muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Lie on your back with a weight on your forehead.
                        br
                        | 2. Raise your head towards your chest.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Traps
                    .benefits To build trapezius muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Hold dumbbells at your sides.
                        br
                        | 2. Shrug your shoulders up.
                        br
                        | 3. Lower them back down.
                        br
                        | 4. Repeat 15-20 times.
                .exercise
                    .part Adductors
                    .benefits To strengthen inner thigh muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Sit on an adductor machine.
                        br
                        | 2. Squeeze legs together.
                        br
                        | 3. Release back to starting position.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Abductors
                    .benefits To strengthen outer thigh muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Sit on an abductor machine.
                        br
                        | 2. Push legs outward.
                        br
                        | 3. Return to starting position.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Obliques
                    .benefits To strengthen oblique muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Lie on your side with knees bent.
                        br
                        | 2. Curl your torso up towards your hips.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 15-20 times per side.
                .exercise
                    .part Gluteus Medius
                    .benefits To strengthen the gluteus medius
                    .steps 
                        strong Instructions:
                        br
                        | 1. Lie on your side with one leg extended.
                        br
                        | 2. Raise the top leg upwards.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 15-20 times per side.
                .exercise
                    .part Hip Flexors
                    .benefits To build hip flexor muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Stand with one foot on a bench.
                        br
                        | 2. Lift your other knee towards your chest.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 15-20 times per side.
                .exercise
                    .part Rotator Cuff
                    .benefits To strengthen rotator cuff muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Hold a light dumbbell in one hand.
                        br
                        | 2. Rotate your arm outward, keeping elbow at 90 degrees.
                        br
                        | 3. Return to starting position.
                        br
                        | 4. Repeat 15-20 times per side.
                .exercise
                    .part Upper Chest
                    .benefits To build upper chest muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Lie on an incline bench with dumbbells.
                        br
                        | 2. Press the weights up above your chest.
                        br
                        | 3. Lower them back down.
                        br
                        | 4. Repeat 12-15 times.
                .ads 
                    script(type="text/javascript").
                        atOptions = {
                            'key': 'ea52525b5b4a4bcc8331ee365480a27a',
                            'format': 'iframe',
                            'height': 90,
                            'width': 728,
                            'params': {}
                        };
                    script(type="text/javascript" src="//www.topcreativeformat.com/ea52525b5b4a4bcc8331ee365480a27a/invoke.js")
                .exercise
                    .part Lower Chest
                    .benefits To strengthen lower chest
                    .steps 
                        strong Instructions:
                        br
                        | 1. Lie on a decline bench with a barbell.
                        br
                        | 2. Lower the barbell to your lower chest.
                        br
                        | 3. Press it back up.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Inner Chest
                    .benefits To build inner chest muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Hold dumbbells close together at chest level.
                        br
                        | 2. Press them upwards and inward.
                        br
                        | 3. Lower them back down.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Outer Chest
                    .benefits To enhance outer chest muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Perform wide-grip push-ups.
                        br
                        | 2. Keep elbows flared out.
                        br
                        | 3. Lower yourself and push back up.
                        br
                        | 4. Repeat 15-20 times.
                .exercise
                    .part Lower Back
                    .benefits To strengthen lower back muscles
                    .steps 
                        strong Instructions:
                        br
                        | 1. Perform deadlifts with a barbell.
                        br
                        | 2. Keep back straight and lift the barbell.
                        br
                        | 3. Lower back down.
                        br
                        | 4. Repeat 12-15 times.
                .exercise
                    .part Core
                    .benefits To build core strength
                    .steps 
                        strong Instructions:
                        br
                        | 1. Perform plank holds.
                        br
                        | 2. Keep body straight.
                        br
                        | 3. Hold for 1 minute.
                        br
                        | 4. Repeat 3 times.
                .ads 
                    script(type="text/javascript").
                        atOptions = {
                            'key': 'ea52525b5b4a4bcc8331ee365480a27a',
                            'format': 'iframe',
                            'height': 90,
                            'width': 728,
                            'params': {}
                        };
                    script(type="text/javascript" src="//www.topcreativeformat.com/ea52525b5b4a4bcc8331ee365480a27a/invoke.js")
                .exercise
                    .part Full Body
                    .benefits To engage all major muscle groups
                    .steps 
                        strong Instructions:
                        br
                        | 1. Perform burpees: squat, kick back, push-up, return to standing, and jump.
                        br
                        | 2. Repeat 15-20 times.
        script(src="https://kit.fontawesome.com/45c7c9c055.js" crossorigin="anonymous")
        script(src="js/Training.js")