@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --moon: #2c3e50;
    --jungle: #34495e;
    --shiny: #e74c3c;
    --darkshine: #f39c12;
    --light: #ecf0f1;
    --deepblue: #3498db;
    --silver: #bdc3c7;

    /* Measurements */
    --navigation-height: 12vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Poppins', sans-serif;
    transition: all 0.5s linear;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html{
    width: 100vw;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background: var(--moon);
    width: 100vw;
    position: relative;
    z-index: 100000000000;
}

.background-effect-1 {
    background: var(--darkshine);
    height: 450px;
    aspect-ratio: 1 / 1;
    filter: blur(50px) brightness(100);
    position: absolute;
    top: -100px;
    left: -20px;
    border-radius: 50%;
    opacity: 0.3;
}

.background-effect-2 {
    background: var(--shiny);
    height: 500px;
    aspect-ratio: 1 / 1;
    filter: blur(60px);
    position: absolute;
    top: 100vh;
    right: -100px;
    border-radius: 50%;
    opacity: 0.5;
}

.navigation {
    height: var(--navigation-height);
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.logo img {
    height: 85%;
    object-fit: contain;
}

.menu {
    margin-right: 20px;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--jungle);
    filter: brightness(2);
    transition: all 0.2s linear;
}

.menu i {
    cursor: pointer;
}

.options {
    position: absolute;
    top: 0;
    right: -350px;
    height: 100vh;
    background: var(--jungle);
    z-index: 100000000;
    width: 350px;
}

.close-menu {
    margin-right: 20px;
    font-size: 1.5rem;
    color: var(--jungle);
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.close-menu i {
    margin-right: 15px;
    filter: brightness(1.5);
    cursor: pointer;
}

.close-menu p {
    color: var(--light);
    margin-left: 20px;
    font-family: "Oswald", sans-serif;
}

.options .line {
    margin: 20px 0px;
    background: var(--moon);
    height: 1px;
}

.menu-options {
    padding: 20px;
}

.menu-options a {
    text-decoration: none;
    color: var(--silver);
    display: flex;
    align-items: center;
}

#section-1 {
    height: calc(100vh - var(--navigation-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-sec1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-sec1 img {
    object-fit: contain;
    height: 100%;
    filter: drop-shadow(2px 2px 5px #000);
}

.bg-1 {
    height: 200px;
    aspect-ratio: 1/1;
    filter: blur(20px) brightness(1);
    background: var(--deepblue);
    position: absolute;
    top: 40%;
    border-radius: 50%;
}

.bg-2 {
    height: 200px;
    aspect-ratio: 1/1;
    filter: blur(40px) brightness(1);
    background: var(--darkshine);
    position: absolute;
    top: 60%;
    border-radius: 50%;
}

.text-sec1 {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.Heading {
    font-size: 4rem;
    z-index: 1;
    font-family: 'Oswald';
    color: var(--silver);
}

.training {
    -webkit-text-stroke: 2px var(--shiny);
    font-size: 4rem;
    color: transparent;
}

.description-sec1 {
    color: var(--light);
    filter: brightness(4);
    font-family: 'Poppins';
    margin-top: 15px;
    text-wrap: balance;
}

#section-2 {
    min-height: 50vh;
    width: 100vw;
    margin-top: 30px;
}

.welcome {
    display: flex;
    justify-content: center;
    color: var(--light);
    align-items: center;
    flex-direction: column;
}

.welcome-text {
    font-family: 'Oswald';
    color: var(--silver);
    margin-bottom: 30px;
}

.welcome p {
    margin-top: 35px;
    width: 50%;
    text-wrap: balance;
    font-family: 'Poppins';
}

#section-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}

.heading-sec-3 {
    font-size: 3rem;
    color: var(--shiny);
}

.blanked-text {
    font-family: 'Poppins';
    -webkit-text-stroke: 1px var(--darkshine);
    color: transparent;
    position: relative;
    top: -30px;
    margin: 20px;
}

.features {
    min-height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    padding: 15px;
    text-wrap: balance;
    background: var(--jungle);
    margin: 10px;
    border-radius: 10px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: balance;
    min-height: 400px;
    max-width: 450px;
}

.card h2 {
    margin-bottom: 20px;
    font-family: 'Poppins';
    text-wrap: balance;
    color: var(--light);
}

.card p {
    font-family: 'Poppins';
    text-wrap: balance;
    color: var(--silver);
}

.getting-start {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.getting-start h1 {
    -webkit-text-stroke: 1px var(--shiny);
    color: transparent;
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

.start {
    width: 90%;
    border-radius: 20px;
    height: 350px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.start a {
    color: var(--light);
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#start-2 {
    margin-top: 30px;
    text-align: center;
}

.img-sec-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0.6;
    text-align: center;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.footer div a {
    color: var(--jungle);
    filter: brightness(3);
    text-decoration: none;
    margin-left: 30px;
}

/** media queries */
@media (max-width: 850px) {
    .image-sec1 img {
        position: absolute;
        width: 00%;
        display: none;
    }

    .image-sec1 {
        width: 0;
        overflow: hidden;
    }

    .text-sec1 {
        text-align: center;
        width: 100%;
    }

    .Heading {
        text-align: center;
    }

    .training {
        text-align: center;
    }

    .description-sec1 {
        text-align: center;
    }

    .welcome {
        text-align: center;
    }

    .welcome p {
        width: 80%;
    }

    .heading-sec-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blanked-text {
        top: 0;
    }
}

@media (max-width: 450px) {
    .image-sec1 img {
        display: none;
        position: absolute;
        width: 0;
    }

    .image-sec1 {
        width: 0;
    }

    .text-sec1 {
        text-align: center;
        width: 100%;
    }

    .Heading {
        text-align: center;
    }

    .training {
        text-align: center;
    }

    .description-sec1 {
        text-align: center;
    }

    .welcome {
        text-align: center;
    }

    .welcome p {
        width: 80%;
    }

    .heading-sec-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blanked-text {
        top: 0;
    }

    .welcome p {
    margin-top: 35px;
    width: 90%;
    text-wrap: balance;
    font-family: 'Poppins';
    font-size: 0.9rem;
    }
}

.ads{
    display: flex;
    justify-content: center;
    align-items: center;
} 